@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');


body {
    background-color: #0a0a0a;
    color: #ffffff;
}

.graph-container {
    display: inline-block;
    width: 48%; /* Adjust based on preference */
    vertical-align: top; /* Keep aligned at the top */
    padding: 10px;
    background-color: #0a0a0a;
}

.mobilespace {
        margin-bottom: 0vh;
    }

@media (max-width: 768px) {
    .graph-container {
        width: 100%;
    }
    .mobilespace {
        margin-bottom: 2vh;
    }
}


h1, h2 {
    color: #ffffff;
}

.dash-graph {
    background-color: #0a0a0a;
}

.custom-tab:hover {
    background-color: rgb(21, 100, 165) !important;
    transition: background-color 0.3s ease !important;
    color: #ffffff;
}
