@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');


body {
    background-color: #0a0a0a;
    color: #ffffff;
}

.graph-container {
    display: inline-block;
    width: 48%; /* Adjust based on preference */
    vertical-align: top; /* Keep aligned at the top */
    padding: 10px;
    background-color: #0a0a0a;
}

.mobilespace {
        margin-bottom: 0vh;
    }

h1, h2 {
    color: #ffffff;
}

.dash-graph {
    background-color: #0a0a0a;
}

.custom-tab:hover {
    background-color: rgb(21, 100, 165) !important;
    transition: background-color 0.3s ease !important;
    color: #ffffff;
}


.tabs-styles {
    height: 44px !important;
    align-items: center !important;
    width: auto !important;
    -webkit-flex-direction: row !important;
    flex-direction: row !important;
    justify-content: center !important;
}
.tab-style {
    width: auto !important;
    border: 2px solid #d6d6d6 !important;
    padding: 6px !important;
    margin-left: 1vw !important;
    margin-right: 1vw !important;
    background-color: rgb(132, 164, 186)  !important;
    color: white !important;
    font-size: 16px !important;
    font-family: Ubuntu Mono, monospace !important;
}

.tab-selected-style {
    width: auto  !important;
    border: 2px solid #d6d6d6  !important;
    background-color: rgb(21, 100, 165)  !important;
    font-size: 17px  !important;
    margin-left: 1vw  !important;
    margin-right: 1vw  !important;
    font-weight: bold  !important;
    color: white  !important;
    font-family: Ubuntu Mono, monospace  !important;
    padding: 6px  !important;
}

.tab-container {
    -webkit-flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .graph-container {
        width: 100%;
    }
    .tab-style {
        font-size: 10px !important;
    }
    .tab-selected-style {
        font-size: 12px !important;
    }
    .mobilespace {
        margin-bottom: 2vh;
    }
}


